In [1]:
class Human():

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
    print(self.name, self.age)

tanaka = Human("田中", 46)

tanaka.printinfo()

田中 46